<div class="container">
    <div class="row">

        <div class="col-sm-10">
            <h1 style="text-align: center;color: white;">Books In Cart</h1>
            <h4 style="color: white;">Total Cost = {{amount | currency:"INR"}}</h4>
            <div class="card mt-3 mb-3" style="width: 100%;" *ngFor="let b of cartArray,let i=index">
                <div class="row no-gutters">
                    <div class="col-sm-5">
                        <img class="card-img" [src]=b.ImgLink height="400px" width="100%">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body">
                            <p class="card-text"><b>Title:</b>{{b.booktitle}}</p>
                            <p class="card-text"><b>Author:</b>{{b.author}}</p>
                            <p class="card-text"><b>Publisher:</b>{{b.publisher}}</p>
                            <p class="card-text"><b>Price:</b>{{b.price | currency:"INR"}}</p>
                            <p><b>Rating:</b>
                                <ngb-rating [max]="5" style="color: rgb(231, 136, 27);" [(rate)]=b.rating
                                    [readonly]="true"></ngb-rating>
                            </p>
                            <div class="content" style="display: inline;float: left;">
                                <button class="btn btn-primary" id="button1" type="button" (click)="decrement(b)"><i
                                        class="fa fa-minus" aria-hidden="true"></i></button>
                                <span [value]=b.quantity class="p-1"> {{b.quantity}} </span>
                                <button class="btn btn-primary" id="button2" type="button" (click)="increment(b)"><i
                                        class="fa fa-plus" aria-hidden="true"></i></button>


                            </div>
                            <div style="padding-left: 10px;display: inline;float: left;">
                                <button class="btn btn-danger" (click)="onRemove(i)">Remove</button>
                            </div>
                            <div style="padding-left: 10px;display: inline;float: left;">
                                <button class="btn btn-primary" (click)="onBuy(i)" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Buy</button>

                                <!-- Modal -->
                                <div>
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Payment Invoice</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-left" *ngFor="let book of cartArray;">
                                                    <img [src]=book.ImgLink alt="" height="400px" width="100%">
                                                    <p> <b>Book Title:</b> {{book.booktitle}}</p>
                                                    <p> <b>Price:</b> {{book.price | currency:"INR"}}</p>
                                                    <p> <b>Author:</b> {{book.author}}</p>
                                                    <p> <b>Publisher:</b> {{book.publisher}}</p>


                                                </div>
                                                <div class="modal-footer">
                                                    <p> <b>Total Cart Amount :</b> {{amount | currency:"INR"}} </p>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary"
                                                        data-bs-dismiss="modal">Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-2">
            <div class="icon" style="display: inline;float: right;padding-right: 5px;">
                <img src="https://i.postimg.cc/7Lgq94SM/usericon.jpg"
                    style="width: 100px; padding-left: 50px;height: 60px;display: inline;float: left;">
                <div class="dropdown">
                    <button class="dropbtn">Welcome {{username}}</button>
                    <div class="dropdown-content">
                        <a (click)="onLogout()" style="font-size: 15px;">Logout</a>
                        <a routerLink="/userdashboard" style="font-size: 15px;">Back</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>